
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    @{
        Html.RenderAction("NewProduct", "Home");
    }

    @{
        Html.RenderAction("FeatureProduct", "Home");
    }
</div>

