@model List<Models.EF.Menu>

<div class="menu">
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="@item.Link">@item.Name</a></li>
        }
    </ul>
    <div class="clear"></div>
</div>
